body{
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
canvas#canvas{
    --checker-a: #EEE;--checker-b: #FFF;
    --checker-a: #888;--checker-b: #AAA;
    --checker-a: #222;--checker-b: #333;
    --checker-a: #000;--checker-b: #111;
    /* --checker-a: transparent;--checker-b: transparent; */
    --checker-len: 1rem;
    background: repeating-conic-gradient(var(--checker-a) 0 25%, var(--checker-b) 0 50%) 0 / var(--checker-len) var(--checker-len);
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    image-rendering: pixelated;
}
progress#loading{
    position: absolute;
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    width: min(max(50vw,3rem),100vw);
    height: 2rem;
    accent-color: #0F0;
    transition: opacity 100ms ease-out;
}
progress#loading.hide{
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 300ms ease-out,
        visibility 0s linear 300ms;
}
